{% extends "base.html.twig" %}

{% block body %}
    <h1>
        <i class="fa fa-desktop" aria-hidden="true"></i>
        {% trans %}Relatórios{% endtrans %}
        <small>
            {% trans %}Relatórios e gráficos do sistema.{% endtrans %}
        </small>
    </h1>
        
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab-graficos" data-toggle="tab">
                {% trans %}Gráficos{% endtrans %}
            </a>
        </li>
        <li>
            <a href="#tab-relatorios" data-toggle="tab">
                {% trans %}Relatórios{% endtrans %}
            </a>
        </li>
    </ul>
    <div id="tabs" class="tab-content">
        <div id="tab-graficos" class="tab-pane active">
            <form id="chart-form" action="#" onsubmit="return false">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label for="chart-id">{% trans %}Gráfico{% endtrans %}</label>
                            <select id="chart-id" name="grafico" class="form-control" required>
                                <option value="">{% trans %}Selecione{% endtrans %}</option>
                                {% for k, v in graficos %}
                                    <option value="{{ k }}" data-opcoes="{{ v.opcoes }}">{{ v.titulo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label for="chart-dataInicial">{% trans %}Data inicial{% endtrans %}</label>
                            <input id="chart-dataInicial" name="inicial" type="text" class="form-control datepicker" value="{{ startDate }}" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group required">
                            <label for="chart-dataFinal">{% trans %}Data final{% endtrans %}</label>
                            <input id="chart-dataFinal" name="final" type="text" class="form-control datepicker" value="{{ endDate }}" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="App.Estatisticas.Grafico.gerar()">
                        {% trans %}Gerar gráfico{% endtrans %}
                    </button>
                </div>
                <div id="chart-result"></div>
            </form>
        </div>
        <div id="tab-relatorios" class="tab-pane">
            <form id="report-form" action="{{ path('novosga_reports_report') }}" method="get" target="_blank" onsubmit="return App.Estatisticas.Relatorio.gerar()">
                <input type="hidden" id="report-hidden-inicial" name="inicial">
                <input type="hidden" id="report-hidden-final" name="final">
                
                <div class="form-group required">
                    <label for="report-id">{% trans %}Relatório{% endtrans %}</label>
                    <select id="report-id" name="relatorio" class="form-control" required>
                        <option value="">{% trans %}Selecione{% endtrans %}</option>
                        {% for k,v in relatorios %}
                            <option value="{{ k }}" data-opcoes="{{ v.opcoes }}">{{ v.titulo }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group required option date date-range" style="display:none">
                    <label for="report-dataInicial">{% trans %}Data inicial{% endtrans %}</label>
                    <input id="report-dataInicial" type="text" class="form-control datepicker" value="{{ startDate }}">
                </div>
                <div class="form-group required option date-range" style="display:none">
                    <label for="report-dataFinal">{% trans %}Data final{% endtrans %}</label>
                    <input id="report-dataFinal" type="text" class="form-control datepicker" value="{{ endDate }}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans %}Gerar relatório{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/novosgaestatisticas/css/datepicker3.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/novosgaestatisticas/js/highcharts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/novosgaestatisticas/js/highcharts.exporting.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/novosgaestatisticas/js/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/novosgaestatisticas/js/bootstrap-datepicker.pt-BR.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/novosgareports/js/script.js') }}"></script>
    <script type="text/javascript">
        // tab graficos
        $("#chart-id").on('change', function() {
            App.Estatisticas.Grafico.change($(this));
        });
        // tab relatorios
        $("#report-id").on('change', function() {
            App.Estatisticas.Relatorio.change($(this));
        });
        $(".datepicker" ).datepicker({
            language: 'pt-BR',
            format: '{% trans %}dd/mm/yyyy{% endtrans %}'
        });
    </script>
{% endblock %}