{% trans_default_domain 'NovosgaReportsBundle' %}

<div class="header">
    <h2>{{ relatorio.dados.unidade }}</h2>
    <p>{% trans %} report.period {% endtrans %} {{ dataInicial }} - {{ dataFinal }}</p>

</div>
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>{{ 'label.ticket'|trans }}</th>
            <th>{% trans %}report.detail.customer{% endtrans %}</th>
            <th>{% trans %}report.detail.date{% endtrans %}</th>
            <th title="{% trans %}report.detail.call.text{% endtrans %}">{% trans %}report.detail.call{% endtrans %}</th>
            <th title="{% trans %}report.detail.start.text{% endtrans %}">{% trans %}report.detail.start{% endtrans %}</th>
            <th title="{% trans %}report.detail.end.text{% endtrans %}">{% trans %}report.detail.end{% endtrans %}</th>
            <th title="{% trans %}report.detail.service.text{% endtrans %}">{% trans %}report.detail.service{% endtrans %}</th>
            <th>{% trans %}report.detail.status{% endtrans %}</th>
            <th>{% trans %}report.detail.attendant{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for a in relatorio.dados.atendimentos %}
            <tr>
                <td>{{ a.senha.sigla }}{{ a.senha.numero }}</td>
                <td>{{ a.cliente ? a.cliente.nome : '' }}</td>
                <td>{{ a.dataChegada|date('d/m/Y') }}</td>
                <td>{{ a.dataChamada is empty ? "" : a.dataChamada|date('H:i:s') }}</td>
                <td>{{ a.dataInicio is empty ? "" : a.dataInicio|date('H:i:s') }}</td>
                <td>{{ a.dataFim is empty ? "" : a.dataFim|date('H:i:s') }}</td>
                <td>{{ a.servico.nome }}</td>
                <td>{{ a.status }}</td>
                <td>
                    {%- if a.usuario -%}
                        {{ a.usuario.login }}
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="9">
                <strong>{{ 'report.total'|trans }}: {{ relatorio.dados.atendimentos|length }}</strong>
            </td>
        </tr>
    </tfoot>
</table>