{% trans_default_domain 'NovosgaReportsBundle' %}

<div class="header">
    <h2>{{ relatorio.dados.unidade }}</h2>
</div>
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>{% trans %}user.id{% endtrans %}</th>
            <th>{% trans %}user.name{% endtrans %}</th>
            <th>{% trans %}user.profile{% endtrans %}</th>
            <th>{% trans %}report.services{% endtrans %}</th>
            <th>{% trans %}report.status{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for lotacao in relatorio.dados.lotacoes %}
            <tr>
                <td class="strong">{{ lotacao.usuario.login }}</td>
                <td>{{ lotacao.usuario.nomeCompleto }}</td>
                <td>{{ lotacao.perfil.nome }}</td>
                <td>
                    <ul>
                        {% for su in relatorio.dados.servicos[lotacao.usuario.id] %}
                            <li>{{ su.servico.nome }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td class="w75 center">
                    {% if lotacao.usuario.ativo %}
                        <span class="status-active">{% trans %}report.detail.status.enabled{% endtrans %}</span>
                    {% else %}
                        <span class="status-inactive">{% trans %}report.detail.status.disabled{% endtrans %}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>