{% trans_default_domain 'NovosgaReportsBundle' %}

<div class="header">
    <h2>{{ relatorio.dados.unidade }}</h2>
    <p>{% trans %} report.period {% endtrans %} {{ dataInicial }} - {{ dataFinal }}</p>
</div>
<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>{% trans %}report.service{% endtrans %}</th>
            <th>{% trans %}report.total{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% set total = 0 %}
        {% for s in relatorio.dados.servicos %}
            <tr>
                <td>{{ s.nome }}</td>
                <td>{{ s.total }}</td>
                {% set total = total + s.total %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>
                <strong>{{ 'report.total' | trans}} {{ total }}</strong>
            </td>
        </tr>
    </tfoot>
</table>