{% trans_default_domain 'NovosgaReportsBundle' %}

<div class="header">
    <h2>{{ relatorio.dados.unidade }}</h2>
    <p>{% trans with {'%dataInicial%': dataInicial, '%dataFinal%': dataFinal} from "app" %}Período de %dataInicial% a %dataFinal%{% endtrans %}</p>
</div>

{% set total = 0 %}
{% set espera = 0 %}
{% set deslocamento = 0 %}
{% set deslocamento = 0 %}
{% set atendimento = 0 %}
{% set tempoTotal = 0 %}

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>{% trans %}Usuário{% endtrans %}</th>
            <th>{% trans %}Atendimentos{% endtrans %}</th>
            <th title="{% trans %}Tempo médio de espera{% endtrans %}">{% trans %}TME{% endtrans %}</th>
            <th title="{% trans %}Tempo médio de deslocamento{% endtrans %}">{% trans %}TMD{% endtrans %}</th>
            <th title="{% trans %}Tempo médio de atendimento{% endtrans %}">{% trans %}TMA{% endtrans %}</th>
            <th>{% trans %}Tempo total{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for dado in relatorio.dados.atendentes %}
            {% set total = total + dado.total %}
            {% set espera = espera + dado.espera %}
            {% set deslocamento = deslocamento + dado.deslocamento %}
            {% set deslocamento = deslocamento + dado.deslocamento %}
            {% set atendimento = atendimento + dado.atendimento %}
            {% set tempoTotal = tempoTotal + dado.tempoTotal %}
            <tr>
                <td class="strong">{{ dado.atendente }}</td>
                <td>{{ dado.total }}</td>
                <td>{{ dado.espera|secToDate|date('H:i:s') }}</td>
                <td>{{ dado.deslocamento|secToDate|date('H:i:s') }}</td>
                <td>{{ dado.atendimento|secToDate|date('H:i:s') }}</td>
                <td>{{ dado.tempoTotal|secToDate|date('H:i:s') }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="strong">&nbsp;</td>
            <td>{{ total }}</td>
            <td>{{ espera|secToDate|date('H:i:s') }}</td>
            <td>{{ deslocamento|secToDate|date('H:i:s') }}</td>
            <td>{{ atendimento|secToDate|date('H:i:s') }}</td>
            <td>{{ tempoTotal|secToDate|date('H:i:s') }}</td>
        </tr>
    </tfoot>
</table>
<div>
    <h4>{% trans %}Legenda{% endtrans %}</h4>
    <ul>
        <li><strong>{% trans %}TME{% endtrans %}</strong>: {% trans %}Tempo médio de espera{% endtrans %}</li>
        <li><strong>{% trans %}TMD{% endtrans %}</strong>: {% trans %}Tempo médio de deslocamento{% endtrans %}</li>
        <li><strong>{% trans %}TMA{% endtrans %}</strong>: {% trans %}Tempo médio de atendimento{% endtrans %}</li>
    </ul>
</div>