{% trans_default_domain 'NovosgaReportsBundle' %}

<div class="header">
    <h2>{{ relatorio.dados.unidade }}</h2>
    <p>{% trans %} report.period {% endtrans %} {{ dataInicial }} - {{ dataFinal }}</p>
</div>

{% set total = 0 %}
{% set espera = 0 %}
{% set deslocamento = 0 %}
{% set deslocamento = 0 %}
{% set atendimento = 0 %}
{% set tempoTotal = 0 %}

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th>{% trans %}user.ido{% endtrans %}</th>
            <th>{% trans %}report.attendances{% endtrans %}</th>
            <th title="{% trans %}report.awt.text{% endtrans %}">{% trans %}report.awt{% endtrans %}</th>
            <th title="{% trans %}report.att.text{% endtrans %}">{% trans %}report.att{% endtrans %}</th>
            <th title="{% trans %}report.ast.text{% endtrans %}">{% trans %}report.ast{% endtrans %}</th>
            <th>{% trans %}label.total_time{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
        {% for dado in relatorio.dados.atendentes %}
            {% set total = total + dado.total %}
            {% set espera = espera + dado.espera %}
            {% set deslocamento = deslocamento + dado.deslocamento %}
            {% set deslocamento = deslocamento + dado.deslocamento %}
            {% set atendimento = atendimento + dado.atendimento %}
            {% set tempoTotal = tempoTotal + dado.tempoTotal %}
            <tr>
                <td class="strong">{{ dado.atendente }}</td>
                <td>{{ dado.total }}</td>
                <td>{{ dado.espera|secToDate|date('H:i:s') }}</td>
                <td>{{ dado.deslocamento|secToDate|date('H:i:s') }}</td>
                <td>{{ dado.atendimento|secToDate|date('H:i:s') }}</td>
                <td>{{ dado.tempoTotal|secToDate|date('H:i:s') }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="strong">&nbsp;</td>
            <td>{{ total }}</td>
            <td>{{ espera|secToDate|date('H:i:s') }}</td>
            <td>{{ deslocamento|secToDate|date('H:i:s') }}</td>
            <td>{{ atendimento|secToDate|date('H:i:s') }}</td>
            <td>{{ tempoTotal|secToDate|date('H:i:s') }}</td>
        </tr>
    </tfoot>
</table>
<div>
    <h4>{% trans %}report.legend{% endtrans %}</h4>
    <ul>
        <li><strong>{% trans %}report.awt{% endtrans %}</strong>: {% trans %}report.awt.text{% endtrans %}</li>
        <li><strong>{% trans %}report.att{% endtrans %}</strong>: {% trans %}report.att.text{% endtrans %}</li>
        <li><strong>{% trans %}report.ast{% endtrans %}</strong>: {% trans %}report.ast.text{% endtrans %}</li>
    </ul>
</div>